<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<div class="row">

  <div class="field input-field col s6">
  <i class="material-icons prefix">account_circle</i>
    <%= f.label :Nom %>
    <%= f.text_field :Nom, class: "validate"%>
  </div>

  <div class="field input-field col s6">
  <i class="material-icons prefix">account_circle</i>
    <%= f.label :Prenom %>
    <%= f.text_field :Prenom %>
  </div>





  <div class="field input-field col s6">
      <i class="material-icons prefix">location_on</i>
    <%= f.label :Adresse %>
    <%= f.text_field :Adresse %>
  </div>

  <div class="field input-field col s6">
    <i class="material-icons prefix">phone</i>
    <%= f.label :Téléphone %>
    <%= f.text_field :Telephone %>
  </div>

  <div class="field input-field col s6">
    <i class="material-icons prefix">perm_identity</i>
    <%= f.label :Sexe %>
    <%= f.text_field :sexe %>
  </div>

  <div class="field input-field col s6">
     <i class="material-icons prefix">perm_contact_calendar</i>
    <%= f.label :Age %>
    <%= f.text_field :age %>
  </div>

  <div class="field input-field col s6">
    <i class="material-icons prefix">assignment_ind</i>
    <%= f.label :Poids %>
    <%= f.text_field :poids %>
  </div>

  <div class="field input-field col s6">
   <i class="material-icons prefix">vpn_key</i>
    <%= f.label :Identifiant %>
    <%= f.text_field :Glycemie %>
  </div>

  <div class="actions">
    <%= f.submit class:"waves-effect waves-light btn" %> 
 
         </div> 
  </div>
<% end %>
