<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @patient.Nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @patient.Prenom %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @patient.Adresse %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @patient.Telephone %>
</p>

<p>
  <strong>Glycemie:</strong>
  <%= @patient.Glycemie %>
</p>

<%= link_to 'Editer', edit_patient_path(@patient), class:"waves-effect waves-light btn" %> |
<%= link_to 'Retour', patients_path, class:"waves-effect waves-light btn" %>
